*.mat
*.gz
Dima model/Plots.zip
General Prabolic case/Runup.avi
LaTeX Talk File/Final.aux
LaTeX Talk File/Final.nav
LaTeX Talk File/Final.pdf
LaTeX Talk File/Final.snm
LaTeX Talk File/Final.toc
Final.out
.~lock.Abstract REU2.docx#
